*
{
    margin: 0;
    padding: 0;
}
body
{
    
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items:center;

}

.description
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.title

{
    font-size: 40px !important;
    font-weight: bold;
    margin-bottom: 10px;
}
.main
{
    display: flex;
    flex-direction: column;
    align-items:center;
    border: 2px solid rgb(199, 199, 199);
    width: 1000px;
    justify-content: center;
    background-color: aliceblue;

}
.container1
{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 50px;
    border-radius: 10px;
    background-color: aliceblue;
}
.photo img
{
  border-radius: 50%;  
}

ul,li,ol
{
    padding: 0px;
    margin: 0px;
}
ul{
    margin-left: 12px;
}
.container2
{
    font-size: 25px;
    margin-top: 10px;
    border: 2px solid rgb(199, 199, 199);
    padding: 20px;
    width: 95%;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: rgb(217, 227, 235);


}

.container3
{
    
    font-size: 25px;
    border: 2px solid rgb(199, 198, 198);
    margin-top: 10px;
    width: 95%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(190, 206, 219);

}
form input
{
    margin-bottom: 10px;
}